/*
!/Simulation/
!/Simulation/*
/Simulation/.godot
/Simulation/Build
/rust/simulation/
/rust/simulation/*
/rust/simulation/target/
/rust/simulation/target/*
!/rust/simulation/.cargo.lock
!/rust/simulation/src/
!/rust/simulation/src/*
